/* temporary styling for map */
#page-collections-map #map_canvas {
    border:1px solid #e8eace;
    width:100%;
    height:470px;
}

#page-collections-map #map_canvas {
    border:1px solid #333 !important;
    /*width:588px ! important;*/
    width:100%;
    height:470px;
}

/* use child combinator to hide effect in IE6*/
div > div#map-container {
    background:transparent url(../images/map/map-shadow.png) right bottom no-repeat;
    width: 100%;
    height: 485px;
}
/********************************\
* Styling for map filter buttons
\********************************/

.filter-buttons {
    /*margin-left: 25px;*/
    /*margin-top: 15px;*/
    padding-right:30px;
}

.filter-buttons div {
    padding-top: 0;
    width:100%;
    margin-bottom: 0;
    padding: 0 0 0 0;
    opacity: 0.45;
    filter:alpha(opacity=45);
}

.filter-buttons div.selected {
    opacity: 1.0;
    filter:alpha(opacity=100);
}

.filter-buttons h2 {
    line-height: normal;
}

.filter-buttons h2 a {
    font-size:20px;
    font-weight: normal;
}

.filter-buttons h2 a span {
    padding-top:.3em;
    display:block;
    color:#000;
    font-size:13px;
    font-weight: normal;
    line-height:1.2em;
    width: 75%;
}

.filter-buttons a {
    /*margin:0 15px 10px 0;*/
    padding: 4px 10px 3px 10px;
    height: 60px;
    display:block;
    overflow:hidden;
    border:1px solid #ccc;
    -moz-border-radius: 7px; /* FF1+ */
    -webkit-border-radius: 7px; /* Saf3+, Chrome */
    -o-border-radius: 7px;
    -icab-border-radius: 7px;
    -khtml-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px; /* Opera 10.5, IE 9 */
    background:transparent url(../images/button_bg.png) right bottom repeat-x;
    -o-box-shadow: 4px 4px 0px #d9d9d9;
    -icab-box-shadow: 4px 4px 0px #d9d9d9;
    -khtml-box-shadow: 4px 4px 0px #d9d9d9;
    -moz-box-shadow: 4px 4px 0px #d9d9d9;
    -webkit-box-shadow: 4px 4px 0px #d9d9d9;
    box-shadow: 4px 4px 0px #d9d9d9;
}

.filter-buttons .all a {
    background: transparent url(../images/ala/all_button_bgwd.png) no-repeat;
    background-size: 100%;
}

.filter-buttons .fauna a {
    background: transparent url(../images/ala/fauna_button_bgwd.png) no-repeat;
    background-size: 100%;
}

.filter-buttons .insects a {
    background: transparent url(../images/ala/insects_button_bgwd.png) no-repeat;
    background-size: 100%;
}

.filter-buttons .microbes a {
    background: transparent url(../images/ala/microbes_button_bgwd.png) no-repeat;
    background-size: 100%;
}

.filter-buttons .plants a {
    background: transparent url(../images/ala/plants_button_bgwd.png) no-repeat;
    background-size: 100%;
}

.filter-buttons h2 a:hover, .filter-buttons h2 a:active, .filter-buttons h2 a:hover span, .filter-buttons h2 a:active span {
    color:#016071;
    text-decoration: none;
}

.filter-buttons h2 a:hover, .buttons h2 a:active, .buttons h3 a:hover, .buttons h3 a:active, .sorry h2 a:hover, .sorry h2 a:active, .sorry h3 a:hover, .sorry h3 a:active{
    border-color:#016071;
    -o-box-shadow: 4px 4px 0px #dd3102;
    -icab-box-shadow: 4px 4px 0px #dd3102;
    -khtml-box-shadow: 4px 4px 0px #dd3102;
    -moz-box-shadow: 4px 4px 0px #dd3102;
    -webkit-box-shadow: 4px 4px 0px #dd3102;
    box-shadow: 4px 4px 0px #016071;
}

ul.nav-tabs {
    margin-bottom: 0;
}

.nav-tabs li a {
    background-color: #f0f0e8;
    border: 1px solid #ddd;
    margin-right: 3px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 16px;
    font-weight: bold;
}

.tab-content {
    border-bottom: 1px solid #DDD;
    border-right: 1px solid #DDD;
    border-left: 1px solid #DDD;
    padding: 15px;
}

#collectionTypesFooter {
    margin-top: 20px;
    margin-left: 4px;
}

.breadcrumb > li > .icon {
    color: #555555;
    opacity: 0.6;
    filter: alpha(opacity=60);
    margin: 1px 4px 0;
}

#breadcrumb a.current {
    text-decoration: none;
    color: #333;
    cursor: default;
    background-image: none !important;
}

#resultsReturned {
    font-size: 13px !important;
}

.rowA {
    border-top: 1px solid silver;
    padding-top:8px;
}

.rowA img {
    cursor: pointer;
}

.rowA, .rowB {
    padding-bottom: 0 !important;
}

.rowB {
    border-bottom: none !important;
    padding-left:20px;
}

.rowB .viewRecords {
    padding-left:10px;
}

.rowC p {
    overflow: hidden;
    /*background-color: #f8f8f8;*/
    padding-bottom: 1px !important;
    padding-left:20px;
}

.rowA img {
    vertical-align: middle;
}

.resultsLabel { margin-left:10px; }

.link {
    cursor: pointer;
}

/* tooltip styling. by default the element to be styled is .tooltip  */
.tooltip {
	display:none;
	background-color: #ffb;
    border:1px solid #cc9;
	font-size:12px;
	padding:3px;
	color:#333;
    z-index: 11;
    -moz-box-shadow: 5px 5px 9px #666;
    -webkit-box-shadow: 5px 5px 9px #666;
    box-shadow: 5px 5px 9px #666;
}

/***********************************
 Taxonomy tree
 **********************************/

#tree {
    margin-top: 20px;
}

#vakata-contextmenu {
    text-align: left;
    background-color: white !important;
}

#taxonTreeHead {
    height: 55px;
}

#taxonTreeHead p a {
    padding-left: 10px;
}

#taxonTreeHead p {
    padding: 10px;
}

#treeContainer {
    margin: 5px 0 20px 0;
    width: 100%;
    height: 125px;
    /*border: 1px solid gray;*/
}

#taxaTree {
    width: 100%;
    height: 100%;
    overflow: auto;
}

ul.facets {
    list-style: none;
    padding: 0;
}

.dataAccess a {
    text-align: left;
    max-width:80%;
}

.category { font-weight:bold; min-width: 120px; }
.category-large { font-weight:bold; min-width: 180px;  }

.nav-stacked .icon-chevron-right {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .25;
}

#adminNavMenu { margin-top:10px; }

.entityLogo { margin-bottom: 10px; }